<h1>About Us</h1>
<p>This is a page for the Social Scores API. The social scores api is an easy way for developers to add Facebook Friend based, or "social" scoreboards into their mobile games.</p>
<p>The Social Scores API is the primary online scoreboard mechanism being incorporated into the upcoming game "unFed unDead!" currently in development by iParty! Mobile and set to release in June 2012.</p>
<p>We are currently in beta and still adding documentation to the site. Sign up and download the API to get social scoreboards for your app today!</p>

