<h1>Introducing the Social Scores API</h1>

<p>The social scores api is an easy way for iOS developers to add Facebook Friend based, or "social" scoreboards into their mobile games.</p>
<h3>Make your game a social experience!</h3>
<p>Within your existing iOS game, after a user beats a particular level, in two lines of code the users' score gets saved and he is presented with a scoreboard showing him how his score ranks amongst all of his facebook friends and amongst the entire community.</p>
<p>If they want to brag about their high score, with the press of a button they will be creating a facebook post showing off the scoreboard on their timeline. </p>
<p>This helps make your game a more social experience and also helps promote your app!</p>

<h3>Gain intelligence</h3>
<p>Log into the web app to view all users' scores for each level within your game.</p>
<p>View the names and email addresses of your users for marketing purposes.</p>