<h1>Introducing the Pushy API</h1>

<p>The Pushy API is an easy way for developers to communicate with their users through push notifications.</p>

<h3>Push notifications, simplified!</h3>
<p>With just a few basic configuration steps and a few lines of code added to your existing iOS app, you'll be all set to send push notifications to your users.</p>
<p>Pushy takes the headache out of push notifications by handling all the server side stuff for you, leaving you to do what you do best... make apps!</p>
<p>Once configured, push notifications can be sent to all your users with just a few clicks!</p>
<h3>Keep your users engaged.</h3>
<p>Remind users about new features in your application to keep them engaged and coming back to your app!</p>
<p>Use push notifications to communicate any problems or bugs in your app. For example, if your app becomes incompatible with a new iOS version, send a notification to tell users you are working on it. Avoid getting negative feedback!</p>


