<h1>Help!</h1>

<p>This is a page for the Social Scores API. The social scores api is an easy way for developers to add Facebook Friend based, or "social" scoreboards into their mobile games.</p>
<p>The Social Scores API is the primary online scoreboard mechanism being incorporated into the upcoming game "unFed unDead!" currently in development by iParty! Mobile and set to release in June 2012.</p>
<p>We are currently in a very early beta mode and are not open for business just yet. Sign up for an account and we'll email you when we are ready to get started.</p>
