

<h1>Introducing the Pushy API</h1>
<p>The Pushy API takes all of the headache out of Apple push notifications and allows developers to send mass push notifications to all of their users with ease.</p>
<p>Keep your users engaged in your app by letting them know about new content and features.</p>
<p>The Pushy API is currently the primary Push Notification mechanism used in Quotables, the Movie Quotes Soundboard by iParty! Mobile.
    <p>Sign up and download the API to start sending push notifications today!</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round"%>      
<center>or <%= link_to "learn more", about_path %></center>