
 <p>
   <%= link_to  'Send notification to all devices', "/push_notifications/create_message?app_id=#{@app.id}"  %>
 </p>
 <p>Registered Devices ( <%=@devices.count%> ):</p>
<table>
  <% if @devices %>
  <% @devices.each do |push_device| %>
    <tr>
      <td>
         <%=  push_device.device_id %>
      </td>
    </tr>
  <% end %>
  <% end %>
</table>