<p>You subscription has been cancelled.  </p>
<p>We're sorry to see you go!  </p>

<p>If you'd like to tell us why you left, please drop us an email!   </p>
<p><a href="mailto:support@ipartymobile.com">support@ipartymobile.com</a></p>

