.container{
	width: 710px;
}

body{
	background: #F2F2F2;
}         

header{
	padding-top: 20px;
}            

header img
{
	padding: 1em;
	background: #fff;
}       

section{
	margin-top: 1em;
	font-size:120%;
	padding: 20px;
	background: #fff;
}       

section h1{
	font-size: 200%;
}            

/* Link */
a {
	color: #09c;
	text-decoration:none;
	
}

a:hover{
	text-decoration: underline;
	color: #069;
}

a:visited
{
	color:#069;
}            

/* Navigation */

nav {
	float:right;
	background: white;
	padding:0 0.7em;
	white-space:nowrap;
}                

nav ul
{
	margin:0;
	padding:0;
}

nav ul li{
	list-style-type:none;
	display: inline-block;
	padding: 0.2em;
}    

nav ul li a 
{
	padding: 0 5px;
	font-weight:bold;
} 

nav ul li a:visited
{
	color: #09c;
}

nav ul li a:hover
{
	text-decoration:underline;
}

nav ul li a img
{
	padding: 0 0;
	margin:0 0 0 0;
}

/* sign up button */

a.signup_button{
	margin-left:auto;
	margin-right:auto;
	display:block;
	text-align: center;
	width:190px;
	color:#fff;
	background: #006400;
	font-size: 150%;
	font-weight:bold;
	padding: 20px;
}                   

/* round */
.round 
{
	 -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}                 

/*footer*/
footer{
	text-align:center;
	margin-top: 10px;
	width: 710px;
	margin-left:auto;
	margin-right:auto;
}                     

footer nav{
	float:none;
}
           

/* user show page */

table.profile
{
	width: 100%;
	margin-bottom: 0;
}                    

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align:top;
	background: #ffc;
}

table.yellowness {
	width: 80%;
	padding: 1em;
	vertical-align:top;
	background: #ffc;
}

.profile.img.gravatar
{
	border:1px solid #999;
	margin-bottom: -15px;
}          

div.field, div.actions{
	margin-bottom: 10px;
}
       
/* TODO separate CSS files */  

/* Error messages */

.field_with_errors
{
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label
{
	color: #fff;
}              

#error_explanation
{
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2
{
	text-align: left;
	font-weight: bold;  
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}        

#error_explanation p
{
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}           

#error_explanation ul li 
{
	font-size: 12px;
	list-style: square;
}      


/* users index */

ul.users {
	margin-top: 1em;
}             

ul.users li
{
	list-style:none;
}                

/* Micropost styling */

h1.micropost {
	margin-bottom :0.3em;
}                        

table.microposts{
	margin-top: 1em;
}                  

table.microposts tr {
	height:70px;
}              
table.microposts tr td.gravatar {
	border-top: 1px solid #ccc;
	vertical-align: top;
	width: 50px;
}             
table.microposts tr td.micropost
{
	border-top: 1px solid #ccc;
	vertical_align:top;
	width: 50px;
}
table.microposts tr td.micropost span.timestamp
{
	display: block;
	font-size: 85%;
	color: #666;
}           
         
td.delete
{
	width:30px;
}

td.delete a
{                
	float:right;
}     
                
div.user_info img {
	padding-right: 0.1em;
}                        
div.user_info a
{
	text-decoration: none;
}                         
div.user_info span.user_name
{
	position: absolute;
}                      

div.user_info span.microposts{
	font-size: 80%;
}                 

form.new_micropost{
	margin-bottom: 2em;
}                     
form.new_micropost textarea{
	height: 4em;
	margin-bottom: 0;
}


/* css/code.css */
div.code {
display:block;
font: 1em 'Courier New', Courier, Fixed, monospace;
font-size : 100%;
color: #000;
background : #fff url(http://www.estudiowas.com.ar/images/preback.jpg) no-repeat left top;
overflow : auto;
text-align:left;
border : 1px solid #5581C0;
padding : 0px 20px 0 30px;
margin:1em 0 1em 0;
line-height:17px;
font-weight:normal!important;
}

/* css/code.css */


 div.code-box-n,
 div.code-box {
  font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;
  white-space: pre;
  width: 100%;
  line-height: 1.4em;
  margin: 1em 0;
  border: 1px dashed #aaa8a8;
  padding: 0.5em 0 0.3em 0.5em;
  font-size: 90%;
  color: #000;
  overflow: auto;
}

 div.code-box {
  background: #fff url(/img/cut.gif) no-repeat top right;
}

 div.code-box-n {
  width: 33em;
  padding-left: 0.3em;
  border: 1px solid;
  border-color: #666 #999;
  background-color: #fff;
}

 div.code-box-n:hover {
  border-color: #c30;
}

 div.code-box-n a { font-weight: normal; }
 div.code-box-n a:focus,
 div.code-box-n a:hover {
  border-bottom: 1px solid #c00;
}

/* home page -- server uptime */

 div.uptime {
  white-space: pre;
  width: 36em;
  line-height: 1em;
  margin: 1em 0;
  border: 1px dotted #aaa8a8;
  padding: 4px 0 4px 7px;
  background-color: #fff;
  overflow: auto;
}

 div.uptime code {
  font-size: 100%;
  color: #000;
}



/* Button */

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
     text-decoration:none;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */