<div id="plans">
  <h2>Pushy API Plans</h2>
  <p>
    Pushy API will give you up to 5000 Push Notifications messages per month for free.
    You may purchase additional push packages here shortly. They will cost roughly $10 for each additional 5K messages.
  </p>

  <div class="clear"></div>
</div>
